<div class="header col-md-12" id= "header">

 <span class="pull-right" style=" padding-top: 15px;">
  <a href="" class="headerelement"> Home </a>
  <a href="" class="headerelement"> About Us </a>
  <a href="" class="headerelement"> LOgin </a>

 
</span>

</div>


<div class="col-md-12 main">
<div class="col-md-2 sidebar">
	
<ul id="Menu">
	   <li>
	     <a href="#" class="sizeul" style="color:Blue ">Parent 1</a>
	       <ul>
			  <li>
				<a href="#" class="sizeli" style="color:Green ">Child A</a>
			  </li>
			  <li>
			    <a href="#" class="sizeli" style="color:Green ">Child B</a>
			   </li>
			   <li>
			     <a href="#" class="sizeli" style="color:green">Child C</a>
			     </li>
			</ul>
		</li>
		<li>
		   <a href="#" class="sizeul" style="color:blue">Parent 2</a>
		     <ul>
		       <li>
		          <a href="#" class="sizeli" style="color:green">Child D</a>
		        </li>
		        <li>
		          <a href="#" class="sizeli" style="color:green">Child E</a>
		        </li>
		        <li>
		           <a href="#" class="sizeli" style="color:green">Child F</a>
		        </li>
		     </ul>
		</li>
	</ul>


</div>

<div class="col-md-10 maincontent">
	
</div>